/* body */
#home {
    display: flex;
}

/* Dropdown */
#chapter-dropdown {
    width: 25em;
    height: 100vh;
    border-right: 2px solid black;
    margin-right: 2em;
    overflow-y: auto;
}

#dropdown-title {
    text-align: center;
    text-decoration: underline;
}

.chapter-name {
    padding: 1em;
    font-size: 1.5em;
    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    border: 2px solid black;
    cursor: pointer;
}
    
/* Main window */
#main-window {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#document-display-container {
    display: flex;
    justify-content: center;
}

#document-title {
    font-size: 4vh;
    font-weight: 600;
    margin: 2vh 0vh;
}

#document-display {
    height: 91vh;
    width: 53em;
}

/* Dark Mode */

#dark-mode-controls {
    display: flex;
    align-items: center;
    justify-content: center;
}

#dark-mode-label {
    font-weight: 600;
    margin-right: 1em;
    font-size: 1.5em;
}

#dark-mode-button {
    width: 2em;
    height: 1.5em;
}

.dark-mode {
    background-color: #a9a9a9;
}